{% /* This file is not formatted nicely, but it is takes the least logic to output a pretty file */ %}enyo.depends(
  {% grunt.utils._.each(enyo_dependencies, function(library) { %}"$lib/{%= library %}",
  {% }); %}// To theme Onyx using Theme.less, change the $lib/onyx line to $lib/onyx/source,
  //"Theme.less", // uncomment this line, and follow the steps described in Theme.less
  "{%= name %}.css",
  "{%= name %}.js"
);
